html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fadeIn{
  animation: blinkAnimation 0.5s ease;
  animation-iteration-count: 1;
    animation-fill-mode: both;
}

.nav-link{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 30px;
  font-weight: bold;
}

.nav-link:after{
  content: attr(data);
}

.nav-link:hover{
  animation: growAnimation 0.5s forwards ease-in-out;
  animation-direction: alternate;
 
}

.nav-link:hover::after{
  content: attr(attribute);
  transition: all 1.5s;
}

.cursor{
  animation: blinkAnimation 0.4s infinite ease-in-out;
  background-color: black;
  color: black;
}

.cursor::after{
  content: "1";
}

.skill{
  animation: progressAnimation 1s forwards ease-in-out;
  transition: all 1.5s;
  transition-timing-function: linear;
}

.glass-background{
  background: rgba(255, 255, 255, 0.4);;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur( 6.5px );
  border: 1px solid rgba(255, 255, 255, 0.59);
}

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
}

.fadeIn{
  animation: blinkAnimation 1s forwards ease-in;
}

.vibrate{
  animation: vibrateAnimation 1s forwards ease-in infinite;
}

@keyframes vibrateAnimation{
  0%{
    bottom: 0px;
  }
  50%{
    bottom: 8px;
  }
  100%{
    bottom: 0px;
  }
}

@keyframes progressAnimation{
  from { width: 0%; }
  to { width: attr(percent) }
}

@keyframes blinkAnimation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes growAnimation{
  0%{
    width: 30px;
  }
  100%{
    min-width: 200px;
  }
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
